absl-py==1.3.0
accelerate==0.16.0
albumentations==1.3.0
amqp==5.1.1
antlr4-python3-runtime==4.9.3
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
astunparse==1.6.3
async-timeout==4.0.2
attrdict==2.0.1
attrs==22.1.0
backports.zoneinfo==0.2.1
bcrypt==4.0.1
billiard==3.6.4.0
bleach==5.0.1
boto3==1.26.111
botocore==1.29.111
brotlipy==0.7.0
cachetools==5.2.0
catalyst==22.4
celery==5.2.7
certifi==2022.9.24
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.2.0
cmake==3.25.0
comm==0.1.2
conda==22.9.0
conda-build==3.22.0
cron-descriptor==1.2.35
Cython==0.29.33
dask==2023.1.0
DeepXDE==1.1.4
defusedxml==0.7.1
dill==0.3.6
Django==4.1.7
django-celery-beat==2.5.0
django-formtools==2.4
django-otp==1.1.6
django-phonenumber-field==6.4.0
django-ratelimit==4.0.0
django-redis==5.2.0
django-sslserver==0.22
django-timezone-field==5.0
django-two-factor-auth==1.15.1
dlx==1.0.4
dnspython==2.3.0
docplex==2.24.232
fastdtw==0.3.4
fastjsonschema==2.16.2
flatbuffers==22.10.26
fonttools==4.43.0
fsspec==2023.1.0
functoolz==0.4
future==0.18.2
gast==0.4.0
google-api-core==2.11.0
google-api-python-client==2.85.0
google-auth==2.14.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.59.0
grpcio==1.50.0
h5py==3.6.0
httplib2==0.22.0
huggingface-hub==0.12.1
hydra-core==1.2.0
hydra-joblib-launcher==1.2.0
hydra-slayer==0.4.1
hydra-submitit-launcher==1.1.6
imageio==2.22.2
importlib-metadata==5.0.0
importlib-resources==5.10.0
imutils==0.5.4
inflection==0.5.1
install==1.3.5
ipykernel==6.20.1
ipython==8.8.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.21.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.11.0
kombu==5.2.4
libclang==14.0.6
lightgbm==3.3.5
locket==1.0.0
Markdown==3.4.1
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-polyfield==5.11
matplotlib==3.5.3
metrics==0.3.3
mistune==2.0.4
mkl-fft==1.3.1
mkl-service==2.4.0
more-itertools==9.0.0
mpmath==1.2.1
navigator-updater==0.2.1
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.7.0
networkx==3.0
notebook==6.5.1
notebook_shim==0.2.0
ntlm-auth==1.5.0
oauth2client==3.0.0
oauthlib==3.2.2
omegaconf==2.2.3
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.72
opt-einsum==3.3.0
pandocfilters==1.5.0
partd==1.3.0
pathlib2==2.3.7.post1
pathspec==0.5.5
phonenumbers==8.13.8
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
ply==3.11
prometheus-client==0.15.0
protobuf==3.19.6
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.3
pycosat==0.6.3
pycryptodome==3.17
pydicom==2.3.1
Pygments==2.14.0
PyJWT==2.6.0
pymongo==4.3.3
pypng==0.20220715.0
pyro-api==0.1.2
pyro-ppl==1.8.2
pyrsistent==0.18.1
python-crontab==2.7.1
python-dotenv==0.20.0
python-http-client==3.3.7
PyWavelets==1.4.1
pywin32==302
pywinpty==2.0.8
PyYAML==6.0
qiskit==0.16.2
qiskit-aer==0.4.1
qiskit-aqua==0.6.5
qiskit-ibmq-provider==0.5.0
qiskit-ignis==0.2.0
qiskit-terra==0.12.0
qrcode==7.4.2
qtconsole==5.3.2
Quandl==3.7.0
qudida==0.0.4
redis==4.5.4
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.0
scikit-image==0.19.3
scikit-optimize==0.9.0
scipy==1.8.1
seaborn==0.12.2
Send2Trash==1.8.0
sendgrid==6.10.0
sip==4.19.13
sniffio==1.3.0
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
submitit==1.4.5
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.0
terminado==0.16.0
tifffile==2023.1.23.1
timm==0.6.12
tinycss2==1.2.0
torch==1.12.1
torchvision==0.13.1
traitlets==5.4.0
twilio==7.17.0
tzdata==2023.2
uritemplate==4.1.1
vine==5.0.0
warmup-scheduler==0.3
wbdata==0.3.0
webencodings==0.5.1
websocket-client==1.4.1
websockets==7.0
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wincertstore==0.2
wrapt==1.14.1
zipp==3.9.0
