{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="content">
        <div class="left">
            <img src="{% static 'img/img2.png' %}" class="people p-animtion" alt="people">
            <img src="{% static 'img/img1.png' %}" class="sphere s-animtion" alt="sphere">
        </div>
        <div class="right">
            
            <div class="form-wrappepr">
                <h1>Register</h1>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <input type="text" name="username" class="inputs user" placeholder="Enter User Name">
                    <input type="password" name="password" class="inputs pwd" placeholder="Password">
                    <input type="password" name="password2" class="inputs pwd" placeholder="Password2">
                    <input type="text" name="email_or_number" class="inputs user" placeholder="Enter Email Or Number">
                    <button type="submit">Register</button>
                </form>

            </div>

        </div>
    </div>
</body>
<script>
    document.querySelector(".people").addEventListener('animationend', function () {
        this.classList.remove('p-animtion');
        this.classList.add('p-other-animtion')
    });
    document.querySelector(".sphere").addEventListener('animationend', function () {
        this.classList.remove('s-animtion');
        this.classList.add('s-other-animtion')
    });	
</script>

</html>