{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="content">
    <div class="left">
        <img src="{% static 'img/img2.png' %}" class="people p-animtion" alt="people">
        <img src="{% static 'img/img1.png' %}" class="sphere s-animtion" alt="sphere">
    </div>
    <div class="right">
        <div class="top">
            <div class="top-item">
                <span class="top-text">Home</span>
            </div>
            <a href="{% url 'register' %}">
                <div class="top-item">
                    <span class="top-text">Register</span>
                </div>
            </a>
            <div class="top-item">
                <span class="top-text">Contact Us</span>
            </div>
            <div class="top-item">
                <span class="top-text">Help</span>
            </div>
        </div>

        <div class="form-wrappepr">
            <h1>Login</h1>
            <br>
            <h2>Phone number verification</h2>


            <form method="post" action="{% url 'confirm' %}" onsubmit="hideErrorMessages()" id="verify-form">
                {% csrf_token %}
                <input type="text" name="phone_number" id="phone_number" class="inputs phone_number"
                       placeholder="Enter Phone Number">

                <button type="button" id="get-verification-code" onclick="requestVerificationCode();">Get Verification
                    Code
                </button>
                <div id="status-message"></div>


                <input type="text" name="verification_code" id="verification_code" class="inputs verification_code"
                       placeholder="Enter Verification Code">
                {% if msg_verification_code  and not is_first_load %}
                    <div class="error-message visible">{{ msg_verification_code }}</div>
                {% endif %}
                <button type="submit" onclick="submitVerificationCode(event)">Submit</button>
            </form>


            <div class="other-login">
                <div class="divider">
                    <span class="line"></span>
                    <span class="divider-text">or continue with</span>
                    <span class="line"></span>
                </div>
                <div class="other-login-wrapper">
                    <div class="other-login-item">
                        <img src="{% static 'img/QQ.png' %}" alt="QQ">
                    </div>
                    <div class="other-login-item">
                        <img src="{% static 'img/WeChat.png' %}" alt="WeChat">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script>

    function requestVerificationCode() {
        let button = document.getElementById("get-verification-code");
        let phoneNumber = document.getElementById("phone_number").value;
        let csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        let statusMessage = document.getElementById("status-message");
        // Disable button and start countdown
        button.disabled = true;
        let count = 60;
        let interval = setInterval(() => {
            if (count <= 0) {
                clearInterval(interval);
                button.innerText = "Get Verification Code";
                button.disabled = false;
                statusMessage.innerText = "";
            } else {
                button.innerText = `Resend (${count}s)`;
                count--;
            }
        }, 1000);
        // Send AJAX request to get_verification_code_view
        fetch("{% url 'get_verification_code' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken,
            },
            body: JSON.stringify({phone_number: phoneNumber}),
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.status === "success") {
                    statusMessage.innerText = "Verification code sent successfully!";
                } else {
                    statusMessage.innerText = "Failed to send verification code!";
                }
            });
    }


    function hideErrorMessages() {
        const errorMessages = document.querySelectorAll('.error-message.visible');
        errorMessages.forEach(function (errorMessage) {
            errorMessage.classList.remove('visible');
        });
    }

    function hideErrorMessagesOnFirstLoad() {
        const isFirstLoad = {{ is_first_load|yesno:"true,false" }};
        if (isFirstLoad) {
            hideErrorMessages();
        }
    }

    document.addEventListener('DOMContentLoaded', hideErrorMessagesOnFirstLoad);


    function submitVerificationCode(event) {
        event.preventDefault();
        let verification_code = document.getElementById("verification_code").value;
        const urlParams = new URLSearchParams(window.location.search);
        const username = urlParams.get('username');
        const password = urlParams.get('password');
        if (!verification_code) {
            alert("Please enter the verification code.");
        } else {
            let csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            fetch("{% url 'verify' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrfToken,
                },
                body: JSON.stringify({
                    verification_code: verification_code,
                    username: username,
                    password: password
                }),
            })
                .then((response) => {
                    if (response.ok) {
                        window.location.href = "/staff_list/";
                    } else {
                        alert("Failed to login. Please check your verification code.");
                    }
                });
        }
    }

</script>
<html>