{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="content">
        <div class="left">
            <img src="{% static 'img/img2.png' %}" class="people p-animtion" alt="people">
            <img src="{% static 'img/img1.png' %}" class="sphere s-animtion" alt="sphere">
        </div>
        <div class="right">
            <div class="top">
                <div class="top-item">
                    <span class="top-text">Home</span>
                </div>
                <div class="top-item">
                    <span class="top-text">Register</span>
                </div>
                <div class="top-item">
                    <span class="top-text">Contact Us</span>
                </div>
                <div class="top-item">
                    <span class="top-text">Help</span>
                </div>
            </div>
            
            <div class="form-wrappepr">
                <h1>Enter Our Plantform</h1>
                
                <form method="post" action="{% url 'logins' %}" onsubmit="hideErrorMessages()">
                    {% csrf_token %}
                    <input type="text" name="username" class="inputs user" placeholder="Enter Email Or Number">
                    {% if msg_username  and not is_first_load %}
                        <div class="error-message visible">{{ msg_username }}</div>
                    {% endif %}
                    <input type="password" name="password" class="inputs pwd" placeholder="Password">
                    <span class="tips">Recovery Password</span>
                    {% if msg_password  and not is_first_load %}
                        <div class="error-message visible">{{ msg_password }}</div>
                    {% endif %}
                    {% if msg_auth  and not is_first_load %}
                        <div class="error-message visible">{{ msg_auth }}</div>
                    {% endif %}
                    <button type="submit">Sign In</button>
                </form>
                <div class="other-login">
                    <div class="divider">
                        <span class="line"></span>
                        <span class="divider-text">or continue with</span>
                        <span class="line"></span>
                    </div>
                    <div class="other-login-wrapper">
                        <div class="other-login-item">
                            <img src="{% static 'img/QQ.png' %}" alt="QQ">
                        </div>
                        <div class="other-login-item">
                            <img src="{% static 'img/WeChat.png' %}" alt="WeChat">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script>
    document.querySelector(".people").addEventListener('animationend', function () {
        this.classList.remove('p-animtion');
        this.classList.add('p-other-animtion')
    });
    document.querySelector(".sphere").addEventListener('animationend', function () {
        this.classList.remove('s-animtion');
        this.classList.add('s-other-animtion')
    });

    function hideErrorMessages() {
        const errorMessages = document.querySelectorAll('.error-message.visible');
        errorMessages.forEach(function (errorMessage) {
            errorMessage.classList.remove('visible');
        });
    }

    function hideErrorMessagesOnFirstLoad() {
        const isFirstLoad = {{ is_first_load|yesno:"true,false" }};
        if (isFirstLoad) {
            hideErrorMessages();
        }
    }

    document.addEventListener('DOMContentLoaded', hideErrorMessagesOnFirstLoad);
</script>